<style>
    .collapse{
        display: flex;
        justify-content: space-between;
        justify-content: space-around;
    }
    #naz{


        color: gold;
        font-size: 50px;
        align-text: center;
    }
    .asd{
        text-align: center;
        display: inline;
        justify-content: center;
        justify-content: space-around;
        border: 1px solid gold;
        width: 400px;
        height: 70px;
        background-color: pink;
        color: firebrick;
        font-size: 50px;
    }

    .bg-1
    {
        background-color: #1abc9c;; /*green */
        color: #ffffff;
    }

</style>